[submodule "figures"]
	path = figures
	url = https://github.com/Genesis-The-Beginning/_gallery.git
[submodule "bibliography"]
	path = bibliography
	url = https://github.com/Genesis-The-Beginning/bibliography.git
[submodule "extras"]
	path = extras
	url = https://github.com/Genesis-The-Beginning/extras.git
[submodule "quotes"]
	path = quotes
	url = https://github.com/Genesis-The-Beginning/_quotes.git
[submodule "images"]
	path = images
	url = https://github.com/Genesis-The-Beginning/images.git
[submodule "text"]
	path = text
	url = https://github.com/Genesis-The-Beginning/text.git
[submodule "organization-notes"]
	path = organization-notes
	url = https://github.com/Genesis-The-Beginning/organization-notes.git
